body{
    margin: 0;
    padding: 0;
    display: grid;
    color: white;
    grid-template-areas: 
        "status events"
        "main events";
}
div.status{
    width: 70vw;
    height: 10vh;
}
div.status.open{
    background-color: chartreuse;
}
div.status.closed{
    background-color: crimson;
}
section.main{
    grid-area: main;
    width: 70vw;
    height: 90vh;
    background-color: #5A5E66;
}
section.main h1{
    
}
section.events{
    grid-area: events;
    width: 30vw;
    height: 100vh;
    background-color: #515151;
}