body{
    margin: 0;
    padding: 0;
    display: grid;
    color: white;
    font-family: 'Atkinson Hyperlegible';
    font-size: 3vmax;
    grid-template-areas: 
        "status events"
        "main events";
}
h1{
    font-size: 7vmax;
    margin: 0;
}
h2{
    font-size: 5vmax;
    margin: 0;
}
h3{
    font-size: 2.5vmax;
    margin: 0;
}
div#status{
    width: 70vw;
    height: 10vh;
    z-index: 1;
    box-shadow: -2vw 0px 5vw 2vw #2e2e2e88;
}
div#status.open, section.events .event-container > div > .uppcoming{
    background-color: #7BC572;
}
div#status.closed, section.events .event-container > div > .active{
    background-color: #C57272;
}
section.events .event-container > div > .ended{
    background-color: #9B9B9B;
}
section.main{
    grid-area: main;
    width: 70vw;
    height: 90vh;
    background-color: #5A5E66;
}
section.main h1{
    margin: 6vmax 2vmax 0 2vmax;
}
section.main .nextBookingTime{
    margin: 0 2vmax;
}
section.events{
    grid-area: events;
    width: 30vw;
    height: 100vh;
    background-color: #515151;
    display: flex;
    flex-direction: column;
    box-shadow: 1vmax 0px 5vmax 2vmax #2e2e2e88;
}
section.events h2{
    text-align: center;
}
section.events .event-container{
    flex: 1 1 100%;
    overflow-y: scroll;
    padding: 2vmax 0 0 0;
}
section.events .event-container > div{
    background-color: #777777;
    border-radius: 1vw;
    margin: 0.5em;
    padding: 1vmax 0;
    display: grid;
    box-shadow: 0px 0px 5vmax .3vmax #2e2e2e88;
    grid-template-areas: 
        "status time"
        "status title";
    grid-template-columns: 1fr 90%;
}
.clock{
    font-size: 10vmax;
    text-align: center;
    align-self: flex-end;
    width: 100%;
}
section.events .event-container > div h3{
    margin: 0 2vmax;
    grid-area: title;
    max-width: 100%;
    overflow-x: scroll;
    white-space: nowrap;  
}
section.events .event-container > div time{
    margin-left: 2vmax;
    margin-right: 0.5em;
    grid-area: time;
}

section.events .event-container > div > div{
    grid-area: status;
    border-radius: 1vmax 0 0 1vmax;
    width: 1.5em;
    margin: -1vmax 0;
}

#prompt-new-user{
    z-index: 100;
    position: absolute;
    background-color: #0005;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
#prompt-new-user form{
    padding: 2em;
    border-radius: 1vmax;
    background-color: #515151;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5vw 1vw #2e2e2e88;
}
#prompt-new-user form input{
    height: 1em;
    font-size: 2vmax;
    padding: 1vw;
    color: #fff;
    border: none;
    border-radius: 1vmax;
    background-color: #777777;
    margin-bottom: 2em;
    box-shadow: 0px 0px 3vmax .3vmax #2e2e2e88;
}
#prompt-new-user form button{
    font-size: 2vmax;
    border: none;
    border-radius: 1vmax;
    padding: 1vmax;
    background-color: #7BC572;
    color: black;
    box-shadow: 0px 0px 3vw .3vmax #2e2e2e88;
}
@media (orientation: portrait) {
    body{
        grid-template-areas: 
            "status status"
            "main main"
            "events events";
    }
    div#status{
        width: 100vw;
    }
    section.main{
        width: 100vw;
        height: 30vh;
    }
    section.events{
        width: 100vw;
        height: 60vh;    
    }
    section.events .event-container > div{
        max-width: 50ch;
    }
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../resources/fonts/AtkinsonHyperlegible-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
